= form_for @quiz do |f|
  - if @quiz.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quiz.errors.count, "error")} prohibited this quiz from being saved:"
      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :category
    = f.collection_select :category_id, @categories, :id, :name

  %h2 Questions
  = f.fields_for :questions do |question_form|
    .field
      .field
        = question_form.label :content
        = question_form.text_field :content
      .field
        = question_form.label :right_answer
        = question_form.text_field :right_answer
      .field
        = question_form.label :wrong_answer1
        = question_form.text_field :wrong_answer1
      .field
        = question_form.label :wrong_answer2
        = question_form.text_field :wrong_answer2
      .field
        = question_form.label :wrong_answer3
        = question_form.text_field :wrong_answer3
      .field
        = question_form.label :_destroy
        = question_form.check_box :_destroy


  .actions
    = link_to 'Add Question', add_question_quiz_path(f)
    = f.submit 'Save'
